<div class="row1">
  <div class="pressure"> Pressure:
    <span id="pressure"> {{tpwInfo.pressure}}Hg</span>
  </div>
  <div class="humidity"> Humidity:
    <span id="humidity"> {{tpwInfo.temperature}}%</span>
  </div>
  <div class="wind"> Wind:
    <span id="wind"> {{tpwInfo.windSpeed}} mph</span>
  </div>
</div>

<div class="row2">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Temperature</button>
    <button type="button" class="btn btn-primary">Pressure</button>
    <button type="button" class="btn btn-primary">Wind</button>
  </div>
</div>
