<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <p style="text-align:center">Sun</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Mon</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Tue</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Wed</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Thur</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Fri</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
    <div class="col-lg-2">
      <p style="text-align:center">Sat</p>
      <img src="../../assets/images/weather.jpeg" id="fimg1">
      <p style="text-align:center"><span>31</span><sup>°</sup><span> 27</span><sup>°</sup></p>
    </div>
  </div>
</div>
